h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fcdfdf;
}

header {
    background-color: #04101d;
    color: #fff;
    text-align: center;
    padding: 10px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
}

#languageToggle {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

/* Estilos películas */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

select {
    padding: 5px;
}

#pagination {
    margin-top: 20px;
}

#filter {
    margin-bottom: 20px;
}

#movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.movie {
    width: 250px;
    background-color: #202020;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie img {
    max-width: 80%;
    height: auto;
    padding: 15px;
}

.movie-title {
    font-weight: bold;
    margin-top: 10px;
}

.movie-description {
    margin-top: 10px;
}

.boton-estilizado {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.texto-estilizado {
    background-color: #091018;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el elemento select */
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

select:hover {
    border-color: #007bff;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}


.movie-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las películas se envuelvan en la siguiente línea */
    justify-content: space-between; /* Espacio uniforme entre las películas */
    padding: 20px; /* Espacio exterior alrededor de las películas */
}